gitTestPr/obj/Debug gitTestPr/obj/gitTestPr.csproj.nuget.dgspec.json gitTestPr/obj/gitTestPr.csproj.nuget.g.props gitTestPr/obj/gitTestPr.csproj.nuget.g.targets gitTestPr/obj/project.assets.json gitTestPr/obj/project.nuget.cache
